@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));
.font-mich {
    font-family: "Michroma", sans-serif;
}

.font-mont {
    font-family: "Montserrat", sans-serif;
}

.font-manrope {
    font-family: "Manrope", Arial, Helvetica, sans-serif;
}

.font-outfit {
    font-family: "Outfit", serif;
    font-style: normal;
}

.font-ovo {
    font-family: "Ovo", serif;
    font-style: normal;
    font-weight: 400;
}

:root {
    padding: 0;
    box-sizing: border-box;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: light) {
     :root {
        --background: #ededed;
        --foreground: #0a0a0a;
    }
}

body {
    /* font-family: "Montserrat", sans-serif; */
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}


/* ----------- landing page styling-------------- */

.navbar {
    @apply fixed w-full z-20 flex items-center justify-between duration-300;
    /* padding: 1rem 2rem; */
}

.navbar.default {
    background: transparent;
}

.transparent-bg-2 {
    background: rgba(255, 255, 255, 0.1);
    /* Semi-transparent */
    backdrop-filter: blur(5px);
    /* Blurred effect */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.transparent-bg {
    background: rgba(255, 255, 255, 0.1);
    /* Semi-transparent */
    backdrop-filter: blur(6px);
    /* Blurred effect */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled {
    background: rgba(255, 255, 255, 0.1);
    /* Semi-transparent */
    backdrop-filter: blur(3px);
    /* Blurred effect */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-cont {
    @apply rounded-full;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.temp-300 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.temp-270 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.temp-240 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.temp-230 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.temp-220 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.temp-195 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    gap: 25px;
}

.temp-205 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    gap: 25px;
}

.shadow-md {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* ----------- landing page styling-------------- */

.textarea-type-1 {
    @apply min-h-[100px] p-3 border border-slate-400 rounded bg-white w-full outline-0 text-[15px];
    font-family: "Montserrat", sans-serif;
}

.input-type-4 {
    @apply px-3 rounded w-full outline-0 text-[13.5px];
    font-family: "Montserrat", sans-serif;
}

.input-type-1 {
    @apply h-[60px] px-3 border border-slate-400 rounded bg-white w-full outline-0 text-[13.5px];
    font-family: "Montserrat", sans-serif;
}

.input-type-1:focus {
    @apply border-2 border-[#306ce9]
}

.input-type {
    @apply h-full px-3 border border-slate-400 rounded bg-white w-full outline-0;
    font-family: "Montserrat", sans-serif;
}

.input-type:focus {
    @apply border-2 border-[#306ce9]
}

.input-type-2 {
    @apply h-[50px] px-3 border border-slate-400 rounded bg-white w-full outline-0 text-[13.5px];
    font-family: "Montserrat", sans-serif;
}

.input-type-2:focus {
    @apply border-2 border-[#306ce9]
}

.input-type-3 {
    @apply h-full rounded bg-white w-full outline-0 text-[13.5px];
    font-family: "Montserrat", sans-serif;
}

.otp-input {
    @apply w-[50px] h-[50px] text-center text-[18px] font-normal border border-slate-400 rounded;
    font-family: "Montserrat", sans-serif;
}

.role-selection-card {
    @apply w-full rounded-md border text-white bg-white border-slate-200 p-3 flex flex-col items-start justify-between duration-300;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* .role-selection-card:hover {
    @apply -translate-y-1 bg-[#306ce9]
} */

.swiper-pagination {
    position: absolute;
    bottom: -30px;
    /* Move pagination 30px below the Swiper container */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 8px;
}

.swiper-pagination-bullet {
    background: #ffffff;
    opacity: 0.7;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background: #ff0000;
    /* Red color for active bullet */
    opacity: 1;
}

.current-nav-item {
    @apply w-full flex items-center gap-3 h-[45px] rounded-r-full relative text-[#306ce9] bg-gray-100;
}

.current-nav-item-text {
    @apply font-[500] text-[13.5px];
    font-family: "Montserrat", sans-serif;
}

.current-nav-item::before {
    content: '';
    @apply absolute left-0 top-0 h-full w-[5px] bg-[#306ce9];
}

.nav-item {
    @apply w-full flex items-center gap-3 h-[45px] rounded-r-full text-gray-100;
}

.nav-item-text {
    @apply font-[500] text-[13.5px];
    font-family: "Montserrat", sans-serif;
}

.current-consultation-nav {
    @apply px-2 text-[#306ce9] font-medium relative h-full flex items-center justify-center;
    font-family: "Montserrat", sans-serif;
}

.current-consultation-nav::before {
    content: '';
    @apply absolute left-0 bottom-0 w-full h-[2.5px] bg-[#306ce9]/90;
}

.consultation-nav {
    @apply px-2 text-slate-700 font-medium relative h-full flex items-center justify-center;
    font-family: "Montserrat", sans-serif;
}

.consultation-nav:hover {
    @apply cursor-pointer;
}

.ScrollToBottom>div {
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.table-content-bg:nth-child(even) {
    @apply bg-red-500
}

[data-slot="dropdown-menu-content"] {
    width: 100% !important;
    max-width: 100% !important;
}